{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}novel_section_title{% endtrans %} - {% trans %}novel_update_title{% endtrans %} {{ entity.volume ~ '/' ~ entity.name ~ '/' ~ entity.serie }}
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sociallibrarybase/css/bootstrap-jasny.min.css') }}">
{% endblock %}

{% block secondMenu %}
<ul class="record_actions nav nav-pills nav-stacked">
    <li>
        <a href="{{ path('novel_index') }}">
            <i class="icon-back"></i> {% trans %}novel_back_list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('novel_index', {'selection' : 'my'}) }}">
            {% trans %}novel_back_owner{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('novel_new') }}">
            <i class="icon-list-add"></i> {% trans %}novel_add{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('novel_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
            <i class="icon-logout"></i> {% trans %}novel_delete{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
        
{% block body %}
<h1>{{ entity.volume ~ ' - ' ~ entity.name ~ ' - ' ~ entity.serie }}</h1>

<form action="{{ path('novel_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="control-group{% if form_errors(edit_form.pictureFile) is not empty %} error{% endif %}">
        {{ form_label(edit_form.pictureFile, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            <div class="fileupload {% if entity.picture is empty %}fileupload-new{% else %}fileupload-exists{% endif %}" data-provides="fileupload">
                <div class="fileupload-preview thumbnail">{% if entity.picture is not empty %}{% media entity.picture, 'big' %}{% endif %}</div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(edit_form.pictureFile) }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            <span class="help-inline">
                {{ form_errors(edit_form.pictureFile) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.name) is not empty %} error{% endif %}">
        {{ form_label(edit_form.name, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.name) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_name_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.name) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.volume) is not empty %} error{% endif %}">
        {{ form_label(edit_form.volume, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.volume) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_volume_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.volume) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.serie) is not empty %} error{% endif %}">
        {{ form_label(edit_form.serie, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.serie) }}
            <a href="#" data-request="{{ path('novel_serie_ajax_new') }}" data-select="#sociallibrary_readablemedia_novelbundle_noveltype_serie" title="{% trans %}placeholder_serie_novel{% endtrans %}" class="add-ajax tooltip-icon">
                <i class="icon-list-add"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.serie) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.creators) is not empty %} error{% endif %}">
        {{ form_label(edit_form.creators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.creators) }}
            <a href="#" data-request="{{ path('object_creator_ajax_new') }}" data-select="#sociallibrary_readablemedia_novelbundle_noveltype_creators" title="{% trans %}placeholder_creators_novel{% endtrans %}" class="add-ajax tooltip-icon">
                <i class="icon-list-add"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.creators) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.language) is not empty %} error{% endif %}">
        {{ form_label(edit_form.language, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.language) }}
            <span class="help-inline">
                {{ form_errors(edit_form.language) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.isbn10) is not empty %} error{% endif %}">
        {{ form_label(edit_form.isbn10, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.isbn10) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn10_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.isbn10) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(edit_form.isbn13) is not empty %} error{% endif %}">
        {{ form_label(edit_form.isbn13, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.isbn13) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn13_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(edit_form.isbn13) }}
            </span>
        </div>
    </div>
    {{ form_rest(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans %}novel_edit{% endtrans %}
        </button>
    </div>
</form>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('bundles/sociallibrarybase/js/bootstrap-jasny.min.js') }}"></script>
        <script src="{{ asset('bundles/sociallibrarybase/js/ajax-select-submit.js') }}"></script>
        <script type="text/javascript">
            
            $(document).ready(function() {
                $('.tooltip-icon').tooltip();
                //$('.add-ajax').popover();
                $('.add-ajax').click(function() {
                    return ajaxGetForm($(this));
                });
            });
        </script>
{% endblock %}