{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block localeSwitcher %}
    {{ locale_switcher('manga_show', {'id': entity.id, 'nameSlug':entity.nameSlug }) }}
{% endblock %}

{% block title %}
    {{ parent() }} - {% trans %}manga_section_title{% endtrans %} - {% trans %}manga_update_title{% endtrans %} {{ entity.volume ~ '/' ~ entity.name ~ '/' ~ entity.serie }}
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sociallibrarybase/css/bootstrap-jasny.min.css') }}">
{% endblock %}

{% block secondMenu %}
<ul class="record_actions nav nav-pills nav-stacked">
    <li>
        <a href="{{ path('manga_index') }}">
            <i class="icon-back"></i> {% trans %}manga_back_list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('manga_index', {'selection' : 'my'}) }}">
            {% trans %}manga_back_owner{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('manga_new') }}">
            <i class="icon-list-add"></i> {% trans %}manga_add{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('manga_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
            <i class="icon-logout"></i> {% trans %}manga_delete{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
        
{% block body %}
<h1>{{ entity.volume ~ ' - ' ~ entity.name ~ ' - ' ~ entity.serie }}</h1>

<form action="{{ path('manga_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {% include 'SocialLibraryReadBundle:Manga:form.html.twig' with { 'form' : edit_form } %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans %}manga_edit{% endtrans %}
        </button>
    </div>
</form>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('bundles/sociallibrarybase/js/bootstrap-jasny.min.js') }}"></script>
        <script src="{{ asset('bundles/sociallibrarybase/js/ajax-select-submit.js') }}"></script>
        <script type="text/javascript">
            
            $(document).ready(function() {
                $('.tooltip-icon').tooltip();
                //$('.add-ajax').popover();
                $('.add-ajax').click(function() {
                    return ajaxGetForm($(this));
                });
            });
        </script>
{% endblock %}