{% extends 'SocialLibraryReadBundle:Manga:index.html.twig' %}

{% block list %}
<div class="records_list list-thumb-view">
    {% for entity in entities %}
		{% if loop.index0 % 4 == 0  %}
		<div class="row-fluid">
		{% endif  %}
			<div class="span3 object">
				<a class="object-cover pull-left" href="{{ path('manga_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
				{% if entity.picture is empty %}
					<img class="media-object" src="{{ asset('bundles/sociallibrarybase/img/unknown-manga.png') }}" alt="{{ entity.name }}">
				{% else %}
					{% thumbnail entity.picture, 'tiny' %}
				{% endif %}
				</a>
				<div class="object-body">
					<p class="media-heading">
						<a href="{{ path('manga_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}">{{ entity.name }} - {{ entity.volume }}</a>
					</p>
					<p class="object-description">
						{{ entity.serie }}<br>
						{{ entity.creators|join(', ') }}
					</p>
					<ul class="actions visible-desktop">
						<li>
							<a href="{{ path('manga_show', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-eye"></i> {% trans %}link_book_details{% endtrans %}</a>
						</li>
					{% if is_granted('ROLE_USER') %}
						{% if entity.isOwner(app.user) %}
						<li>
							<a href="{{ path('manga_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-logout"></i> {% trans %}link_book_remove_owner{% endtrans %}</a>
						</li>
						{% else %}
						<li>
							<a href="{{ path('manga_add_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-login"></i> {% trans %}link_book_add_owner{% endtrans %}</a>
						</li>
						{% endif %}
					{% endif %}
					</ul>
				</div>
			</div>
		{% if ((loop.index0 + 1) % 4 == 0) or loop.last %}
		</div>
		{% endif  %}
    {% endfor %}
</div>

{{ knp_pagination_render(entities) }}

{% endblock %}
