{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block localeSwitcher %}
    {{ locale_switcher('manga_show', {'id': entity.id, 'nameSlug':entity.nameSlug }) }}
{% endblock %}

{% block title %}{% spaceless %}
	{{ parent() }} - {% trans %}manga_section_title{% endtrans %} - {{ entity.volume ~ '/' ~ entity.name ~ '/' ~ entity.serie }}
{% endspaceless %}{% endblock %}

{% block body_class %}{% spaceless %}
	object-display-details object-type-read object-manga-{{ entity.id }}
{% endspaceless %}{% endblock %}

{% block body %}
<header>
	<h1>{{ entity.volume ~ ' - ' ~ entity.name ~ ' - ' ~ entity.serie }}</h1>
	<ul class="record_actions nav nav-pills nav-stacked">
	    <li>
	        <a href="{{ path('manga_index') }}">
	            <i class="icon-back"></i> {% trans %}link_book_back_list{% endtrans %}
	        </a>
	    </li>
	    {% if is_granted('ROLE_USER') %}
	            {% if entity.isOwner(app.user) %}
	    <li>
	        <a href="{{ path('manga_edit', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
	            <i class="icon-pencil"></i> {% trans %}link_book_edit{% endtrans %}
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('manga_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
	            <i class="icon-logout"></i> {% trans %}link_book_remove_owner{% endtrans %}
	        </a>
	    </li>
	            {% else %}
	    <li>
	        <a href="{{ path('manga_add_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
	            <i class="icon-login"></i> {% trans %}link_book_add_owner{% endtrans %}
	        </a>
	    </li>
	            {% endif %}
	    {% endif %}
	</ul>
</header>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% include 'SocialLibraryReadBundle:Common:synopsis.html.twig' with { 'entity' : entity } %}

{% endblock %}