{% extends 'SocialLibraryReadBundle:Manga:index.html.twig' %}

{% block list %}
<ul class="thumbnail-view records_list">
    {% for entity in entities %}
    <li class="span4 object {% if loop.index0 % 3 == 0 %}first-column{% endif %}">
        <a class="thumbnail object-cover" href="{{ path('manga_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}" data-placement="top" rel="tooltip" title="{{ entity.volume }} - {{ entity.name }} | {{ entity.serie }} | {{ entity.creators|join(', ') }}">
        {% if entity.picture is empty %}
            <img src="{{ asset('bundles/sociallibrarybase/img/unknown-manga.png') }}" title="{{ entity.volume }} - {{ entity.name }} | {{ entity.serie }} | {{ entity.creators|join(', ') }}">
        {% else %}
        	<img src="{% path entity.picture, 'big' %}" title="{{ entity.volume }} - {{ entity.name }} | {{ entity.serie }} | {{ entity.creators|join(', ') }}">
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{{ knp_pagination_render(entities) }}

{% endblock %}