{% extends 'SocialLibraryReadBundle:Manga:index.html.twig' %}

{% block list %}
<ul class="thumbnails records_list">
    {% for entity in entities %}
    <li class="span4 {% if loop.index0 % 3 == 0 %}first-column{% endif %}">
        <a class="thumbnail " href="{{ path('manga_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}" data-placement="top" rel="tooltip" title="{{ entity.volume }} - {{ entity.name }} | {{ entity.serie }} | {{ entity.creators|join(', ') }}">
        {% if entity.picture is empty %}
            <img src="{{ asset('bundles/sociallibrarybase/img/unknown-manga.png') }}" alt="{{ entity.name }}">
        {% else %}
            {% thumbnail entity.picture, 'big' %}
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{{ entities.render()|raw }}

{% endblock %}