{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}novel_section_title{% endtrans %}{% endblock %}

{% block body_class %}{% spaceless %}
	object-list-{{ app.request.get('view') }} object-type-read object-novel
{% endspaceless %}{% endblock %}

{% block body %}
<header class="row-fluid object-section-header">
    <div class="span12">
        <h1>{% trans %}novel_section_title{% endtrans %}</h1>
		{% if is_granted('ROLE_USER') %}
		<ul class="record_actions nav nav-pills nav-stacked">
		    <li>
		        <a href="{{ path('novel_new') }}">
		            <i class="icon-list-add"></i> {% trans %}novel_add{% endtrans %}
		        </a>
		    </li>
		</ul>
		{% endif %}
    </div>
</header>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    </div>
</div>
{% endfor %}

<div class="row-fluid">
    <div class="offset10 span1">
        <div class="btn-group">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" class="disabled">
		    Display
		    <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		    	<li class="{% if not is_granted('ROLE_USER') %}disabled{% endif %} {% if selection == 'all' %}active{% endif %}">
			        <a href="{{ path('novel_index', {'view' : app.request.get('view'), 'selection' : 'all'}) }}" class="">
			            {% trans %}manga_all{% endtrans %}
			        </a>
		        </li>
		        <li class="{% if not is_granted('ROLE_USER') %}disabled{% endif %} {% if selection == 'my' %}active{% endif %}">
			        <a href="{{ path('novel_index', {'view' : app.request.get('view'), 'selection' : 'my'}) }}" class="">
			            {% trans %}manga_my{% endtrans %}
			        </a>
		        </li>
		        <li class="divider"></li>
		        <li class="{% if app.request.get('view') == 'list' %} active{% endif %}">
		            <a href="{{ path('novel_index', {'view' : 'list', 'selection' : selection}) }}" title="{% trans %}label_book_list_view{% endtrans %}">
		                <i class="icon-menu"></i> {% trans %}label_list_view{% endtrans %}
		            </a>
		        </li>
		        <li class="{% if app.request.get('view') == 'listThumbs' %} active{% endif %}">
		            <a href="{{ path('novel_index', {'view' : 'listThumbs', 'selection' : selection}) }}" title="{% trans %}label_book_list_thumb_view{% endtrans %}">
		                <i class="icon-list"></i> {% trans %}label_mini_thumb_view{% endtrans %}
		            </a>
		        <li class="{% if app.request.get('view') == 'thumbnails' %} active{% endif %}">
		            <a href="{{ path('novel_index', {'view' : 'thumbnails', 'selection' : selection}) }}" title="{% trans %}label_book_thumb_view{% endtrans %}">
		                <i class="icon-layout"></i> {% trans %}label_thumbnail_view{% endtrans %}
		            </a>
		        </li>
		    </ul>
	    </div>
	</div>
</div>

{% block list %}{% endblock %}

{% endblock %}