{% extends 'SocialLibraryReadBundle:Novel:index.html.twig' %}

{% block list %}
<table class="records_list table table-striped table-bordered table-hover">
    <thead>
    	<tr>
    		<th>
                {% trans %}link_book_header_volume{% endtrans %}
    		</th>
    		<th>
    		    {{ entities.sortable('link_book_header_name', 'n.nameSlug', {'translationDomain' : 'messages'})|raw }}
		    </th>
    		<th>
    		    {{ entities.sortable('link_book_header_serie', 's.nameSlug', {'translationDomain' : 'messages'})|raw }}
		    </th>
    		<th>
    		    {{ entities.sortable('link_book_header_creators', 'c.lastname', {'translationDomain' : 'messages' })|raw }}
		    </th>
            <th>
    		    {% trans %}link_book_header_actions{% endtrans %}
            </th>
    	</tr>
    </thead>
    <tbody>
    {% for entity in entities %}
     	<tr>
     		<td>
     		    {{ entity.volume }}
 		    </td>
     		<td>
     		    <a href="{{ path('novel_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}">{{ entity.name }}</a>
 		    </td>
     		<td>
 		        {{ entity.serie }}
	        </td>
     		<td>
     		    {{ entity.creators|join(', ') }}
 		    </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('novel_show', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-eye"></i> {% trans %}link_book_details{% endtrans %}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if entity.isOwner(app.user) %}
                    <li>
                        <a href="{{ path('novel_edit', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-pencil"></i> {% trans %}link_book_edit{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('novel_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-logout"></i> {% trans %}link_book_remove_owner{% endtrans %}</a>
                    </li>
                        {% else %}
                    <li>
                        <a href="{{ path('novel_add_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}"><i class="icon-login"></i> {% trans %}link_book_add_owner{% endtrans %}</a>
                    </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ entities.render()|raw }}

{% endblock %}