
<form action="{{ path('serie_ajax_create') }}" method="post" {{ form_enctype(form) }} class="ajax-submit">
    {{ form_widget(form.name, { 'attr' : { 'placeholder' : 'placeholder_name_serie' } }) }}
    {{ form_errors(form.name) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">
        {% trans %}manga_create{% endtrans %}
    </button>
</form>