{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}manga_section_title{% endtrans %} - {% trans %}manga_update_title{% endtrans %} {{ entity.volume ~ '/' ~ entity.name ~ '/' ~ entity.serie }}
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sociallibrarybase/css/bootstrap-jasny.min.css') }}">
{% endblock %}
        
{% block body %}
<h1>{{ entity.volume ~ ' - ' ~ entity.name ~ ' - ' ~ entity.serie }}</h1>

<form action="{{ path('manga_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="control-group">
        {{ form_label(edit_form.pictureFile, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            <div class="fileupload {% if entity.picture is empty %}fileupload-new{% else %}fileupload-exists{% endif %}" data-provides="fileupload">
                <div class="fileupload-preview thumbnail" style="width: 150px; height: 150px;">{% if entity.picture is not empty %}<img src="{{ asset(entity.getWebPicturePath ~ entity.picture) }}"/>{% endif %}</div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(edit_form.pictureFile) }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {{ form_errors(edit_form.pictureFile) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.name, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.volume, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.volume) }}
            {{ form_errors(edit_form.volume) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.serie, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.serie) }}
            {{ form_errors(edit_form.serie) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.creators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.creators) }}
            {{ form_errors(edit_form.creators) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.illustrators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.illustrators) }}
            {{ form_errors(edit_form.illustrators) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.language, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.language) }}
            {{ form_errors(edit_form.language) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.isbn10, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.isbn10) }}
            {{ form_errors(edit_form.isbn10) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(edit_form.isbn13, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(edit_form.isbn13) }}
            {{ form_errors(edit_form.isbn13) }}
        </div>
    </div>
    {{ form_rest(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans %}manga_edit{% endtrans %}
        </button>
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('manga') }}">
            <i class="icon-back"></i> {% trans %}manga_back_list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('manga_remove_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">
            {% trans %}manga_delete{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('bundles/sociallibrarybase/js/bootstrap-jasny.min.js') }}"></script>
{% endblock %}