<h1>Manga list</h1>

<table class="records_list">
    <thead>
    	<tr>
    		<th>
    		    {{ entities.sortable('Volume', 'm.volume')|raw }}
    		</th>
    		<th>
    		    {% trans %}Name{% endtrans %}
		    </th>
    		<th>
    		    {{ entities.sortable('Serie', 's.nameSlug')|raw }}
		    </th>
    		<th>
    		    {{ entities.sortable('Authors', 'c.lastname')|raw }}
		    </th>
            <th>
                Actions
            </th>
    	</tr>
    </thead>
    <tbody>
    {% for entity in entities %}
     	<tr>
     		<td>
     		    {{ entity.volume }}
 		    </td>
     		<td>
     		    <a href="{{ path('manga_show', {'id': entity.id, 'nameSlug': entity.nameSlug }) }}">{{ entity.name }}</a>
 		    </td>
     		<td>
 		        {{ entity.serie }}
	        </td>
     		<td>
     		    {{ entity.creators|join(', ') }}
 		    </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('manga_show', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('manga_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('manga_add_owner', { 'id': entity.id, 'nameSlug': entity.nameSlug }) }}">I own the manga too</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('manga_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
