{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}manga_section_title{% endtrans %}{% endblock %}

{% block secondMenu %}
{% if is_granted('ROLE_USER') %}
<ul class="record_actions nav nav-pills nav-stacked">
    <li>
        <a href="{{ path('manga_new') }}">
            <i class="icon-list-add"></i> {% trans %}manga_add{% endtrans %}
        </a>
    </li>
    <li>
    {% if selection == 'my' %}
        <a href="{{ path('manga_index', {'selection' : 'all'}) }}">
            {% trans %}manga_all{% endtrans %}
    {% else %}
        <a href="{{ path('manga_index', {'selection' : 'my'}) }}">
            {% trans %}manga_my{% endtrans %}
    {% endif %}
        </a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h1>Manga library</h1>
    </div>
</div>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    </div>
</div>
{% endfor %}

<div class="row-fluid">
    <div class="offset9 span3">
        <div class="btn-group">
            <a href="{{ path('manga_index', {'view' : 'list', 'selection' : selection}) }}" title="{% trans %}manga_list_view{% endtrans %}" class="btn">
                <i class="icon-menu"></i>
            </a>
            <a href="{{ path('manga_index', {'view' : 'listThumbs', 'selection' : selection}) }}" title="{% trans %}manga_list_thumb_view{% endtrans %}" class="btn">
                <i class="icon-list"></i>
            </a>
            <a href="{{ path('manga_index', {'view' : 'thumbnails', 'selection' : selection}) }}" title="{% trans %}manga_thumb_view{% endtrans %}" class="btn">
                <i class="icon-layout"></i>
            </a>
        </div>
    </div>
</div>

{% block list %}{% endblock %}

{% endblock %}