{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}manga_section_title{% endtrans %} - {% trans %}manga_add_title{% endtrans %}
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sociallibrarybase/css/bootstrap-jasny.min.css') }}">
{% endblock %}

{% block body %}
<h1>{% trans %}manga_add_title{% endtrans %}</h1>

<form action="{{ path('manga_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="control-group{% if form_errors(form.pictureFile) is not empty %} error{% endif %}">
        {{ form_label(form.pictureFile, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail"></div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(form.pictureFile) }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            <span class="help-inline">
                {{ form_errors(form.pictureFile) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.name) is not empty %} error{% endif %}">
        {{ form_label(form.name, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.name, { 'attr' : { 'placeholder' : 'placeholder_name_manga' } }) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_name_manga{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.name) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.volume) is not empty %} error{% endif %}">
        {{ form_label(form.volume, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.volume, { 'attr' : { 'placeholder' : 'placeholder_volume_manga' } }) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_volume_manga{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.volume) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.serie) is not empty %} error{% endif %}">
        {{ form_label(form.serie, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.serie) }}
            <span class="help-inline">
                {{ form_errors(form.serie) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.creators) is not empty %} error{% endif %}">
        {{ form_label(form.creators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.creators) }}
            <span class="help-inline">
                {{ form_errors(form.creators) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.illustrators) is not empty %} error{% endif %}">
        {{ form_label(form.illustrators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.illustrators) }}
            <span class="help-inline">
                {{ form_errors(form.illustrators) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.language) is not empty %} error{% endif %}">
        {{ form_label(form.language, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.language) }}
            <span class="help-inline">
                {{ form_errors(form.language) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.isbn10) is not empty %} error{% endif %}">
        {{ form_label(form.isbn10, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.isbn10, { 'attr' : { 'placeholder' : 'placeholder_isbn10_manga' } }) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn10_manga{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.isbn10) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.isbn13) is not empty %} error{% endif %}">
        {{ form_label(form.isbn13, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.isbn13, { 'attr' : { 'placeholder' : 'placeholder_isbn13_manga' } }) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn13_manga{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.isbn13) }}
            </span>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans %}manga_create{% endtrans %}
        </button>
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('manga') }}">
            <i class="icon-back"></i> {% trans %}manga_back_list{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('bundles/sociallibrarybase/js/bootstrap-jasny.min.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.tooltip-icon').tooltip();
            });
        </script>
{% endblock %}