{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}graphic_novel_section_title{% endtrans %} - {% trans %}graphic_novel_add_title{% endtrans %}
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sociallibrarybase/css/bootstrap-jasny.min.css') }}">
{% endblock %}

{% block secondMenu %}
<ul class="record_actions nav nav-pills nav-stacked">
    <li>
        <a href="{{ path('graphic_novel_index') }}">
            <i class="icon-back"></i> {% trans %}graphic_novel_back_list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('graphic_novel_index', {'selection' : 'my'}) }}">
            {% trans %}graphic_novel_back_owner{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<h1>{% trans %}graphic_novel_add_title{% endtrans %}</h1>

<form action="{{ path('graphic_novel_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="control-group{% if form_errors(form.pictureFile) is not empty %} error{% endif %}">
        {{ form_label(form.pictureFile, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail"></div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(form.pictureFile) }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            <span class="help-inline">
                {{ form_errors(form.pictureFile) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.name) is not empty %} error{% endif %}">
        {{ form_label(form.name, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.name) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_name_graphic_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.name) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.volume) is not empty %} error{% endif %}">
        {{ form_label(form.volume, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.volume) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_volume_graphic_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.volume) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.serie) is not empty %} error{% endif %}">
        {{ form_label(form.serie, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.serie) }}
            <a href="#" data-request="{{ path('read_serie_ajax_new') }}" data-select="#graphicnoveltype_serie" title="{% trans %}placeholder_serie_graphic_novel{% endtrans %}" class="add-ajax tooltip-icon">
                <i class="icon-list-add"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.serie) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.creators) is not empty %} error{% endif %}">
        {{ form_label(form.creators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.creators, { 'attr' : { 'class' : 'add-creator' } }) }}
            <a href="#" data-request="{{ path('object_creator_ajax_new') }}" data-select=".add-creator" title="{% trans %}placeholder_creators_graphic_novel{% endtrans %}" class="add-ajax tooltip-icon">
                <i class="icon-list-add"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.creators) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.illustrators) is not empty %} error{% endif %}">
        {{ form_label(form.illustrators, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.illustrators, { 'attr' : { 'class' : 'add-creator' } }) }}
            <a href="#" data-request="{{ path('object_creator_ajax_new') }}" data-select="#graphicnoveltype_illustrators" title="{% trans %}placeholder_illustrators_graphic_novel{% endtrans %}" class="add-ajax tooltip-icon">
                <i class="icon-list-add"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.illustrators) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.language) is not empty %} error{% endif %}">
        {{ form_label(form.language, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.language) }}
            <span class="help-inline">
                {{ form_errors(form.language) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.isbn10) is not empty %} error{% endif %}">
        {{ form_label(form.isbn10, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.isbn10) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn10_graphic_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.isbn10) }}
            </span>
        </div>
    </div>
    <div class="control-group{% if form_errors(form.isbn13) is not empty %} error{% endif %}">
        {{ form_label(form.isbn13, null, { 'label_attr' : { 'class' : 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(form.isbn13) }}
            <a href="#" data-placement="top" rel="tooltip" title="{% trans %}placeholder_isbn13_graphic_novel{% endtrans %}" class="tooltip-icon">
                <i class="icon-help-circled"></i>
            </a>
            <span class="help-inline">
                {{ form_errors(form.isbn13) }}
            </span>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans %}graphic_novel_create{% endtrans %}
        </button>
    </div>
</form>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('bundles/sociallibrarybase/js/bootstrap-jasny.min.js') }}"></script>
        <script src="{{ asset('bundles/sociallibrarybase/js/ajax-select-submit.js') }}"></script>
        <script type="text/javascript">
            
            $(document).ready(function() {
                $('.tooltip-icon').tooltip();
                //$('.add-ajax').popover();
                $('.add-ajax').click(function() {
                    return ajaxGetForm($(this));
                });
            });
        </script>
{% endblock %}